<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<bean id="testImpl" class="service.TestImpl"/>
	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
		<!-- does not necessarily have to be the same name as the bean to be exported
		com.dongsport.common.service.impl.OrderServiceImpl
		-->
		<property name="serviceName" value="RmiTest" />

		<property name="service" ref="testImpl" />

		<property name="serviceInterface" value="service.RmiTest" />
		<!-- defaults to 1099 -->
		<property name="registryPort" value="1799" />
	</bean>



</beans>